:root {
  --brand-primary-50:  #665414;
  --brand-primary-100: #766013;
  --brand-primary-150: #8E7313;
  --brand-primary-200: #A08112;
  --brand-primary-250: #B48C00;
  --brand-primary-300: #C19700;
  --brand-primary-350: #CDA000;
  --brand-primary-400: #E0AF00;
  --brand-primary-450: #EFBE0D;
  --brand-primary-500: #FFC804;
  --brand-primary-550: #FFD12F;
  --brand-primary-600: #FFD74A;
  --brand-primary-650: #FFDD65;
  --brand-primary-700: #FFE27B;
  --brand-primary-750: #FFE895;
  --brand-primary-800: #FFEDAB;
  --brand-primary-850: #FFF1BF;
  --brand-primary-900: #FFF4CE;
  --brand-primary-950: #FFF8DE;
  --brand-primary-970: #FFFBEC;
}
