.typography-title-1-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    line-height: 3.75rem; /* 125% */
    letter-spacing: -0.06rem;
}

.typography-title-2-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 3rem; /* 133.333% */
    letter-spacing: -0.0394rem;
}

.typography-title-3-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 2.5rem; /* 142.857% */
    letter-spacing: -0.0219rem;
}

.typography-title-4-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 1.375rem;
    font-weight: 600;
    font-style: normal;
    line-height: 2rem; /* 145.455% */
    letter-spacing: -0.0103rem;
}

.typography-title-5-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.625rem; /* 144.444% */
}

.typography-subtitle-1-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.375rem; /* 137.5% */
}

.typography-subtitle-2-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0044rem;
}

.typography-subtitle-3-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.0075rem;
}

.typography-subtitle-4-semibold {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.625rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1rem; /* 160% */
    letter-spacing: 0.0094rem;
}

.typography-label-1-medium {
    font-family: inter, system-ui, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.625rem; /* 144.444% */
    letter-spacing: -0.0057rem;
}

.typography-label-2-medium {
    font-family: inter, system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.375rem; /* 137.5% */
}

.typography-label-3-medium {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0044rem;
}

.typography-label-4-medium {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.0075rem;
}

.typography-label-5-medium {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.625rem;
    font-weight: 500;
    font-style: normal;
    line-height: 0.875rem; /* 140% */
    letter-spacing: 0.0125rem;
}

.typography-label-1-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.625rem; /* 144.444% */
    letter-spacing: -0.0056rem;
}

.typography-label-2-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375rem; /* 137.5% */
}

.typography-label-3-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0044rem;
}

.typography-label-4-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.0075rem;
}

.typography-label-5-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.625rem;
    font-weight: 400;
    font-style: normal;
    line-height: 0.875rem; /* 140% */
    letter-spacing: 0.0125rem;
}

.typography-paragraph-1-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75rem; /* 155.556% */
}

.typography-paragraph-2-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.625rem; /* 162.5% */
    letter-spacing: 0.005rem;
}

.typography-paragraph-3-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.0088rem;
}

.typography-paragraph-4-regular {
    font-family: inter, system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375rem; /* 183.333% */
    letter-spacing: 0.0112rem;
}
