

/* Base button styles */
.avatar {
  --avatar-font-size: 16px;

  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  aspect-ratio: 1 / 1;

  font-size: var(--avatar-font-size);
  font-weight: 500;
  color: var(--text-contrast);

  background: var(--bg-secondary);
  outline: transparent solid 2px;

}

.clickable {
  cursor: pointer;
  transition: outline-color 0.2s,  scale 0.2s;

  &:focus{
    outline: var(--stroke-accent-disabled) solid 2px;
  }

  &:active{
    scale: 0.9;
  }

  &:hover{
    outline: var(--stroke-neutral) solid 2px;
  }
}

.icon svg{
  width: var(--avatar-font-size);
  height: var(--avatar-font-size);
}

.disabled{
  cursor: not-allowed;
  opacity: 0.48;
}


.image, .icon, .name{
  border-radius: inherit;
  outline: rgb(0 0 0 / 0.04) solid 1px;
  outline-offset: -1px;
}

/* Content styles */
.image{
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
}


.name{
  user-select: none;

  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: inherit;
  color: inherit;

  background: inherit;
}


.icon{
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: inherit;

  background: inherit;

  stroke: currentcolor;
}



/* ---------------- Размеры ---------------- */
.size-208{
  --avatar-font-size: 48px;

  width: 208px;
  height: 208px;
}

.size-96{
  --avatar-font-size: 28px;

  width: 96px;
  height: 96px;
}

.size-84{
  --avatar-font-size: 28px;

  width: 84px;
  height: 84px;
}

.size-56{
  --avatar-font-size: 16px;

  width: 56px;
  height: 56px;
}

.size-48{
  --avatar-font-size: 16px;

  width: 48px;
  height: 48px;
}

.size-40{
  --avatar-font-size: 16px;

  width: 40px;
  height: 40px;
}

.size-32 {
  --avatar-font-size: 14px;

  width: 32px;
  height: 32px;
}

.size-24 {
  --avatar-font-size: 10px;

  width: 24px;
  height: 24px;
}

.circle{
  border-radius: 1000px;
}

.size-24.square,
.size-208.square{
  border-radius: 8px;
}

.size-32.square,
.size-40.square,
.size-48.square {
  border-radius: 12px;
}

.size-56.square {
  border-radius: 16px;
}

.size-84.square,
.size-96.square {
  border-radius: 24px;
}


.variant-filled{
  color: var(--text-contrast);
  fill: var(--icon-contrast);
  stroke: var(--icon-contrast);

  &.color-brand {
    background: var(--bg-accent);
  }

  &.color-red {
    background: var(--bg-negative);
  }

  &.color-orange {
    background: var(--bg-warning);
  }

  &.color-yellow {
    background: var(--bg-vivid);
  }

  &.color-green {
    background: var(--bg-positive);
  }

  &.color-blue {
    background: var(--bg-blue);
  }

  &.color-lightblue {
    background: var(--bg-dreamy);
  }

  &.color-purple {
    background: var(--bg-special);
  }

  &.color-gray {
    background: var(--bg-overlay);
  }

  &.color-contrast {
    color: var(--text-primary);
    background: var(--bg-primary);
  }
}

.variant-light {
  &.color-brand{
    color: var(--stroke-accent);
    background: var(--bg-accent-secondary);
    fill: var(--stroke-accent);
    stroke: var(--stroke-accent);
  }

  &.color-red{
    color: var(--stroke-negative);
    background: var(--bg-negative-secondary);
    fill: var(--stroke-negative);
    stroke: var(--stroke-negative);
  }

  &.color-orange{
    color: var(--stroke-warning);
    background: var(--bg-warning-secondary);
    fill: var(--stroke-warning);
    stroke: var(--stroke-warning);
  }

  &.color-yellow{
    color: var(--stroke-vivid);
    background: var(--bg-vivid-secondary);
    fill: var(--stroke-vivid);
    stroke: var(--stroke-vivid);
  }

  &.color-green{
    color: var(--stroke-positive);
    background: var(--bg-positive-secondary);
    fill: var(--stroke-positive);
    stroke: var(--stroke-positive);
  }

  &.color-lightblue{
    color: var(--stroke-dreamy);
    background: var(--bg-dreamy-secondary);
    fill: var(--stroke-dreamy);
    stroke: var(--stroke-dreamy);
  }

  &.color-blue{
    color: var(--stroke-blue);
    background: var(--bg-blue-secondary);
    fill: var(--stroke-blue);
    stroke: var(--stroke-blue);
  }

  &.color-purple{
    color: var(--stroke-special);
    background: var(--bg-special-secondary);
    fill: var(--stroke-special);
    stroke: var(--stroke-special);
  }

  &.color-gray{
    color: var(--text-secondary);
    background: var(--bg-secondary);
    fill: var(--icon-secondary);
    stroke: var(--icon-secondary);
  }

  &.color-contrast {
    color: var(--text-contrast);
    background: var(--bg-overlay);
    fill: var(--icon-contrast);
    stroke: var(--icon-contrast);
  }
}

.variant-outline {
  background: transparent;
  border: 1px solid;

  &.color-brand {
    color: var(--icon-accent);
    border-color: var(--icon-accent);
    fill: var(--icon-accent);
    stroke: var(--icon-accent);
  }

  &.color-red {
    color: var(--icon-negative);
    border-color: var(--icon-negative);
    fill: var(--icon-negative);
    stroke: var(--icon-negative);
  }

  &.color-orange {
    color: var(--icon-warning);
    border-color: var(--icon-warning);
    fill: var(--icon-warning);
    stroke: var(--icon-warning);
  }

  &.color-yellow {
    color: var(--stroke-vivid);
    border-color: var(--stroke-vivid);
    fill: var(--stroke-vivid);
    stroke: var(--stroke-vivid);
  }

  &.color-green {
    color: var(--icon-positive);
    border-color: var(--icon-positive);
    fill: var(--icon-positive);
    stroke: var(--icon-positive);
  }

  &.color-blue {
    color: var(--icon-blue);
    border-color: var(--icon-blue);
    fill: var(--icon-blue);
    stroke: var(--icon-blue);
  }

  &.color-lightblue {
    color: var(--stroke-dreamy);
    border-color: var(--stroke-dreamy);
    fill: var(--stroke-dreamy);
    stroke: var(--stroke-dreamy);
  }

  &.color-purple {
    color: var(--icon-special);
    border-color: var(--icon-special);
    fill: var(--icon-special);
    stroke: var(--icon-special);
  }

  &.color-gray {
    color: var(--text-secondary);
    border-color: var(--icon-secondary);
    fill: var(--icon-secondary);
    stroke: var(--icon-secondary);
  }

  &.color-contrast {
    color: var(--icon-contrast);
    border-color: var(--icon-contrast);
    fill: var(--icon-contrast);
    stroke: var(--icon-contrast);
  }
}





