.languageSwitcher {
  cursor: pointer;

  padding: 0.5rem;

  font-size: 1.5rem;
  line-height: 1;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;

  transition: all 0.2s ease;
}

.languageSwitcher:hover {
  background-color: #f0f0f0;
} 